:root {
  --primary: #000080;
  --secondary: #f2f2f3;
  --tertiary: #FFE800;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  
}


.image-container{
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
}

.Titulo{

  font-weight: bold;
  color: var(--primary);
}

.form-index{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 60%;
  border-radius: 5%;
  box-shadow: 0px 3px 40px -20px rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.campo{
  width: 60%;
  height: 30px;
  border-radius: 8px;
  border: 3px solid var(--primary);
  margin-bottom: 10px;
  outline: none;
  font-size: 20px;
}

.campo::placeholder{
  font-size: 16px;
  color: var(--primary);
}


.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: none;
  flex-wrap: wrap ;
}

.options{
  margin-top: -13px;
  display: flex;
  width: 24%;
  height: 200px;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  border: 3px solid var(--primary);
  margin-top: 230px;
  overflow-y: scroll;
  z-index: 2;
  background-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

.option{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px  solid var(--primary);
  font-weight: bold;
  cursor: pointer;
}

.option:hover{
  background-color: var(--primary);
  color: var(--secondary);
}

btn-submit{
  color: var(--primary);
}

/* Aca son los estilos de los formularos */

.form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 80%;
  height: 90%;
  border-radius: 2%;
 
  box-shadow:  0px 3px 40px -20px rgba(0,0,0,0.5);
}

.progress-bar{
  width: var(--p);
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary);
  top: 0;
  left: 0;
  align-self: flex-start;
  transition: all 0.5s ease-in-out;
}

.division{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  
}

.file-box{
  width: 50%;
  height: 100%;
  border: dotted 5px var(--primary);
}

.file-box input[type="file"]{
  width: inherit;
  height: inherit;
  opacity: 1;
}